*{
	box-sizing: border-box;
	margin:0;
}
html{
	scroll-behavior: smooth;
}



body{
	background-color: white;
	margin: 20px 0px;
	font-family:sans-serif;
}
.wrapper{
	width: 800px;
	margin: 50px auto;
	background-color: gold;
	border-radius: 10px;
}
header{
	padding:50px;
	overflow:hidden;
}
header > #logo{
	float: left;
} 
.logo_img{
	width: 200px;
	height: 150px;
	margin-top: -30px;
}
nav{
	float: right;
}
nav a{
	color: #fff;
	border:1px solid grey;
	background-color: #000;
	text-decoration: none;
	padding: 4px;
}
nav a:hover{
	color: #000;
	background-color: #fff;
	border:none;
}
main{
	padding: 50px;
	overflow: hidden;
}
section{
	width: 70%;
	float: left;
}
article{
	padding: 30px;
	border-bottom:1px solid #cccc;
	border-top: solid white;
}
article:last-child{
	border-bottom:none;
}
aside{
	width: 30%;
	float: right;
	background-color: #fdd761;
	padding: 70px;
}
aside h3{
	background-color: #ff5353;
	color:#ffffff;
	padding: 10px;
	margin-left: -40px;
}
aside a{
	color:#fff;
	border:1px solid grey;
	border-radius: 20px;
	background-color: #000;
	text-decoration: none;
	padding: 2px; 
}
aside a:hover{
	color: #000;
	background-color: #000;
	border:none;
}
aside li{
	list-style: none;
	width:100px;
	padding:2px;
	margin-top: 20px;
	margin-left: -70px;
}
.back2top{
	border:1px solid grey;
	background-color: #ff5353;
	width: 40px;
	height: 40px;
	border-radius: 15px;
	box-shadow: 4px 4px 2px #999;
	bottom: 100px;
	right: 270px;
	position: fixed;
}


.back2top a{
	color: black;
	font-weight:bold;
	font-size: 29px;
	margin-left: 14px;
	margin-right: 14px;
	text-align: center;
	text-decoration:none;
	bottom:16px;
	left:10px;
	margin-left: 15px;

}
footer{
	padding: 20px;
	border-top: 1px solid white;
	text-align: center;
}
